<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jakubu9333.bestartists">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".main_page.MainApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.BestArtists">
        <activity android:name=".AuthSpotify"
                  >
        </activity>
        <activity android:name=".Get_Artists_Page.SecondActivity"
                  android:parentActivityName=".main_page.MainActivity">
        </activity>

        <activity android:name=".View_artists_page.ViewArtistActivity"
                  android:parentActivityName=".main_page.MainActivity">
        </activity>
        <activity
                android:name=".main_page.MainActivity"
                android:exported="true"
                android:label="@string/app_name"
                android:theme="@style/Theme.BestArtists.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>